.table-style {
    color: #d6e9ebc2;
    border-style: solid;
    border-collapse: collapse;
    border-width: 5px;
    padding: 5px;
    padding-left: auto;
    padding-right: auto;
}

.hide{
    display: none;
}

